#.env file:
TF_HTTP_USERNAME=gitlab-token
TF_HTTP_PASSWORD=
VAULT_TOKEN=

#gitlab project var file TF_VAR_FILE_INFRA:
# cloudflare_api_token:
# cloudflare_originCAissuerKey: 
# vault_token:
# openid_client_secret_vault:
# openid_client_secret_grafana:
# openid_client_secret_kiali:
# openid_client_secret_argocd: 
# openid_client_secret_oauth2_proxy:
# openid_client_secret_pgadmin4:
