#.env file:
AWS_PROFILE= # oci profile
TF_HTTP_PASSWORD= # gitlab token

#cicd file TF_VAR_FILE_*:
# compartment_ocid:
# grafana_admin_pass:
# cloudflare_api_token:
# runnerRegistrationToken:
# gitlab_docker_registry_secret:
# cloudflare_originCAissuerKey:
