TF_HTTP_USERNAME=gitlab-token
TF_HTTP_PASSWORD=

OPENID_CLIENT_ID_ARGOCD=
OPENID_CLIENT_SECRET_ARGOCD=

CLOUDFLARE_API_TOKEN=
OPENID_CLIENT_SECRET_CLOUDFLARE=
OPENID_CLIENT_ID_CLOUDFLARE=

INFRA_K8S_HOST=https://138.2.139.177:6443
INFRA_K8S_CERTIFICATE=
INFRA_K8S_TOKEN=

PROD-0_K8S_HOST=https://130.61.104.2:6443
PROD-0_K8S_CERTIFICATE=
PROD-0_K8S_TOKEN=